framework: netstandard2.0, netcoreapp3.0
source https://api.nuget.org/v3/index.json

nuget FSharp.Core                           ~> 4.6.2
                                            
nuget Aardvark.Base                         ~> 5.0.0-prerelease
nuget Aardvark.Base.Incremental             ~> 5.0.0-prerelease
nuget Aardvark.Base.FSharp                  ~> 5.0.0-prerelease
                                            
nuget Aardvark.Base.Rendering               ~> 5.0.0-prerelease0006
nuget Aardvark.SceneGraph                   ~> 5.0.0-prerelease0006
nuget Aardvark.SceneGraph.IO                ~> 5.0.0-prerelease0006
nuget Aardvark.Application.Slim             ~> 5.0.0-prerelease0006
nuget Aardvark.Application.Slim.GL          ~> 5.0.0-prerelease0006
nuget Aardvark.Application.Slim.Vulkan      ~> 5.0.0-prerelease0006
nuget Aardvark.Rendering.Text               ~> 5.0.0-prerelease0006
                                            


group Build
source https://api.nuget.org/v3/index.json
github aardvark-platform/aardvark.fake:v5
nuget Fake.DotNet.Cli
nuget FSharp.Core                           ~> 4.7.0
